.additional-label {
  color: gray;
  font-size: 14px;
  margin-left: 8px;
}

.dialog-card {
  height: 1200px !important;
}

.mat-mdc-dialog-content {
  max-height: 99vh;
}

.form-field {
  width: 100%;
  height: auto;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0.5rem;
  box-sizing: border-box;
}

mat-chip {
  margin-right: 10px;
}
